USE [master]
GO
/****** Object:  Database [ToolsRudneva23IS]    Script Date: 22.02.2023 9:45:20 ******/
CREATE DATABASE [ToolsRudneva23IS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ToolsRudneva23IS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ToolsRudneva23IS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ToolsRudneva23IS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ToolsRudneva23IS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ToolsRudneva23IS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ToolsRudneva23IS]
GO
/****** Object:  Table [dbo].[Country1]    Script Date: 22.02.2023 9:45:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country1](
	[Code] [nchar](2) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Country1] PRIMARY KEY CLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hotel1]    Script Date: 22.02.2023 9:45:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hotel1](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[CountOfstars] [int] NOT NULL,
	[CountryCode] [nchar](2) NOT NULL,
 CONSTRAINT [PK_Hotel1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HotelComment1]    Script Date: 22.02.2023 9:45:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HotelComment1](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Hotelid] [int] NOT NULL,
	[Text] [nvarchar](max) NOT NULL,
	[Author] [nvarchar](100) NOT NULL,
	[CreateDate] [datetime] NOT NULL,
 CONSTRAINT [PK_HotelComment1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hotelimage1]    Script Date: 22.02.2023 9:45:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hotelimage1](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Hotelid] [int] NOT NULL,
	[ImageSource] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Hotelimage1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HotelOfTours]    Script Date: 22.02.2023 9:45:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HotelOfTours](
	[HotelId] [int] NOT NULL,
	[TourId] [int] NOT NULL,
 CONSTRAINT [PK_HotelOfTours] PRIMARY KEY CLUSTERED 
(
	[HotelId] ASC,
	[TourId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tour]    Script Date: 22.02.2023 9:45:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tour](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[TicketCount] [int] NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[ImagePreview] [nvarchar](max) NULL,
	[Price] [money] NOT NULL,
	[isActual] [bit] NOT NULL,
 CONSTRAINT [PK_tour] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TupeOfTuur]    Script Date: 22.02.2023 9:45:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TupeOfTuur](
	[TourId] [int] NOT NULL,
	[TypeId] [int] NOT NULL,
 CONSTRAINT [PK_TupeOfTuur] PRIMARY KEY CLUSTERED 
(
	[TourId] ASC,
	[TypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Type1]    Script Date: 22.02.2023 9:45:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type1](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_Type1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeOfTour]    Script Date: 22.02.2023 9:45:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeOfTour](
	[TourId] [nchar](10) NULL,
	[TypeId] [nchar](10) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Type1] ON 

INSERT [dbo].[Type1] ([id], [Name], [Description]) VALUES (1, N'тип1 ', NULL)
INSERT [dbo].[Type1] ([id], [Name], [Description]) VALUES (2, N'тип 2', NULL)
INSERT [dbo].[Type1] ([id], [Name], [Description]) VALUES (3, N'тип 3', NULL)
SET IDENTITY_INSERT [dbo].[Type1] OFF
GO
ALTER TABLE [dbo].[Hotel1]  WITH CHECK ADD  CONSTRAINT [FK_Hotel1_Country1] FOREIGN KEY([CountryCode])
REFERENCES [dbo].[Country1] ([Code])
GO
ALTER TABLE [dbo].[Hotel1] CHECK CONSTRAINT [FK_Hotel1_Country1]
GO
ALTER TABLE [dbo].[HotelComment1]  WITH CHECK ADD  CONSTRAINT [FK_HotelComment1_Hotel1] FOREIGN KEY([Hotelid])
REFERENCES [dbo].[Hotel1] ([id])
GO
ALTER TABLE [dbo].[HotelComment1] CHECK CONSTRAINT [FK_HotelComment1_Hotel1]
GO
ALTER TABLE [dbo].[Hotelimage1]  WITH CHECK ADD  CONSTRAINT [FK_Hotelimage1_Hotel1] FOREIGN KEY([Hotelid])
REFERENCES [dbo].[Hotel1] ([id])
GO
ALTER TABLE [dbo].[Hotelimage1] CHECK CONSTRAINT [FK_Hotelimage1_Hotel1]
GO
ALTER TABLE [dbo].[HotelOfTours]  WITH CHECK ADD  CONSTRAINT [FK_HotelOfTours_Hotel1] FOREIGN KEY([HotelId])
REFERENCES [dbo].[Hotel1] ([id])
GO
ALTER TABLE [dbo].[HotelOfTours] CHECK CONSTRAINT [FK_HotelOfTours_Hotel1]
GO
ALTER TABLE [dbo].[HotelOfTours]  WITH CHECK ADD  CONSTRAINT [FK_HotelOfTours_tour] FOREIGN KEY([TourId])
REFERENCES [dbo].[tour] ([id])
GO
ALTER TABLE [dbo].[HotelOfTours] CHECK CONSTRAINT [FK_HotelOfTours_tour]
GO
ALTER TABLE [dbo].[TupeOfTuur]  WITH CHECK ADD  CONSTRAINT [FK_TupeOfTuur_tour] FOREIGN KEY([TourId])
REFERENCES [dbo].[tour] ([id])
GO
ALTER TABLE [dbo].[TupeOfTuur] CHECK CONSTRAINT [FK_TupeOfTuur_tour]
GO
ALTER TABLE [dbo].[TupeOfTuur]  WITH CHECK ADD  CONSTRAINT [FK_TupeOfTuur_Type1] FOREIGN KEY([TypeId])
REFERENCES [dbo].[Type1] ([id])
GO
ALTER TABLE [dbo].[TupeOfTuur] CHECK CONSTRAINT [FK_TupeOfTuur_Type1]
GO
USE [master]
GO
